<div class="about" id="aboutContainer">
    <div class="about-container" id="aboutme">
        <h2> < Developer /></h2>
        </div>
    <div class="aboutContainer">
        <div class="images" id="img">
            <img src="assets/img/meAtWork.png">
        </div>
        <div class="slogan" id="textArea">
            <p>" I'm an enthusiastic software developer who wants to learn more "</p>
        </div>
    </div>
    <div class="textArea" id="textBox">
        <div class="aboutMe-Text">
          <p>
            I am Max, a frontend developer with a passion for engaging user interfaces. With a focus on the Angular framework, I design and implement user-friendly web applications that ensure smooth interaction. Leveraging my expertise in HTML, CSS, and TypeScript, the core elements of Angular, I bring innovative designs to life. Additionally, I continuously optimize the user experience to ensure a high-quality and appealing website. My goal is to develop outstanding frontend solutions through creative solutions and technical precision, utilizing the Angular framework.         </div>
    </div>
</div>

