<section class="port-section" id="portfolio">
  <h2 class="port-title">Featured projects</h2>
    <div class="port-container">
      <a href="https://jersey-shop.netlify.app/" target="_blank">
        <img class="quiz-img" src="assets/img/jerseyShop.png" id="port-img">
      </a>
      <div class="port-text" id="port-text">
        <p>Jersey Shop: A WebShop with Angular and Firebase tailored for businesses.</p>
    </div>
     
    </div>

    <div class="port-container">
      <div class="port-text" id="port-weather-text">
        <p>Disney Plus Clone: The service is built around content from Disney's <br> main entertainment studios and film and television library developed with Angular and Firebase.
      </div>
      <a href="https://disneyplus-clone-app-dev.netlify.app/" target="_blank">
        <img class="disney-img" src="assets/img/disneyPlus.png" id="port-weather-img">
      </a>
    </div>

    <div class="port-container">
      <a href="https://weather-location-application.netlify.app/" target="_blank">
        <img class="weather-img" src="assets/img/weather.png" id="port-weather-img">
      </a>
      <div class="port-text" id="port-text">
        <p>Weather App: Get instant weather updates with my Angular Weather App, <br> powered by open-meteo and ipgeolocation API get, providing real-time weather for any location.</p>
      </div>
  </div>
 
</section>


