<!--header-->
<header>
  <div class="header-container">
    <div class="logo-container">
      <div class="logo">
        <p id="logo">MK</p>
      </div>
    </div>
    <div class="header-link">
      <a href="#aboutme"><b>About Me</b></a>
      <a href="#skills"><b>Skills</b></a>
      <a href="#portfolio"><b>Portfolio</b></a>
      <a href="#contact"><b>Contact</b></a>
    </div>
    <div class="toggle-container">
      <div class="toggle-logo">
        <img (click)="darkModeService.toggleDarkMode()" src="assets/img/strormtrooper.png" alt="" id="starWarsImg">
      </div>
    </div>
  </div>
</header>


