<footer>
    <div class="footer">
                
    <div class="footer-data">
    <a routerLink="/imprint">Imprint</a> |
    <a routerLink="/data-protection">Data Protection</a>
    </div>
    
    <div class="footer-social">
    <a href="https://github.com/MaxKraemer?tab=repositories" target="_blank"><img src="assets/img/github-fill.png"></a>
    <a href="https://www.linkedin.com/in/maximilian-kraemer-279520159/" target="_blank"><img src="assets/img/linkedin-box-fill.png"></a>
    
    </div>

    <p>&#169;2021 Maximilian Kraemer copyright all right reserved</p>

    <span>The icons used are, among other things, from https://icons8.de and are <br> licensed with the license Creative Commons Attribution-NoDervis 3.0 Unported.</span>

</div>

</footer>
