.about {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 150px;
}
h2 {
    font-family: sans-serif;
}

.about-container {
    background: linear-gradient(89.81deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
}

.aboutContainer span {
    background: linear-gradient(89.81deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent ;
}

.images {
    padding-left: 70px;
    padding-right: 70px;
}

.images img{
    height: 380px;
    width: 679px;
    object-fit: cover;
}

.aboutContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan span{
    font-size: 20px;
}

p{
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;    
}

.textArea {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
}

.text1{
    margin-right: 40px;
}

.text2 {
    margin-right: 40px;
}

.textArea h3 {
    text-align: center;
    background: linear-gradient(89.81deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent; 
    font-size: 30px;
}

.textArea span {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
}

@media (max-width: 800px){
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }

    .aboutContainer{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .textArea {

        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .text1 {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .slogan {

        text-align: center;
        padding: 30px;
    }

    .text1{

        margin-right: 0;
        text-align: center;
    }

    .text2{

        margin-right: 0;
        text-align: center;
    }

    .text3 {

        text-align: center;

    }
}