<div class="about" id="aboutContainer">
        <div class="about-container" id="aboutme">
            <h2>< / Developer</h2>
        </div>
    <div class="aboutContainer">
        <div class="images" id="img">
            <img src="assets/img/meAtWork.png">
        </div>
        <div class="slogan" id="textArea">
            <p>" I'm an enthusiastic software developer and scrum master who wants to learn more "</p>
        </div>
    </div>
    <div class="textArea" id="textBox">
        <div class="text1">
            <p>Hello Im Max, I started my career as a software developer in November 2021 at Startup Werk. 
                <br>
                Since that time I have been developing web applications for and with our cooperation partners. 
                <br>
                Since 2023 I have also been working as a Scrum Master to expand and optimize processes for my Team.</p>
        </div>
    </div>
</div>

