<!--header-->
<header>
  <div class="header-container">
    <div class="logo-container">
      <div class="logo">
        <p id="logo">MK._</p>
      </div>
    </div>
    <div class="header-link">
      <a href="#home"><b>Home</b></a>
      <a href="#aboutme"><b>About Me</b></a>
      <a href="#skills"><b>Skills</b></a>
      <a href="#portfolio"><b>Portfolio</b></a>
      <a href="/imprint"><b>Contact</b></a>
    </div>
    <div class="toggle-container">
      <div class="toggle-logo">
        <img (click)="toggleDarkMode()" [src]="darkModeService.isDarkModeEnabled() ? 'assets/img/strormtrooper.png' : 'assets/img/Vader.png'" alt="Bild" alt="" id="starWarsImg">
      </div>
    </div>
  </div>
</header>


