.skillscontainer {
    display: flex;
    justify-content: center;
    
}

.skills-section {

    color: white;
    padding-top: 50px;
    
    
}

.skills-section h2 {

    text-align: center;
    font-size: 45px;
    color: #00e3aa;
}

.skill-image img{

    height: 25px;
    width: 25px;
}

.skills-name {

    text-align: center;
}

.skills-names{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills-data {

        display: flex;
        justify-content: center;
        height: 80px;
        width: 18em;
        align-items: center;
        position: relative;
        padding: .5rem 1rem;
        border-radius: .5rem;
        box-shadow: 0px 4px 10px #00e3aa;
        margin: 20px;

}

.skills-html{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #00e3aa;
    height: .25rem;
    border-radius: .5rem;
    width: 100%;
}

.skills-css{

    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #00e3aa;
    height: .25rem;
    border-radius: .5rem;
    width: 100%;
    
}

.skills-angular{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #00e3aa;
    height: .25rem;
    border-radius: .5rem;
    width: 100%;

}

.skills-js{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #00e3aa;
    height: .25rem;
    border-radius: .5rem;
    width: 100%;


}

@media (max-width: 800px) {
    
    .skills-section {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .skills-data {

        width: 20em;


    }

    .skillscontainer {

        display: flex;
        flex-direction: column;
    }
}