<!--===== WORK =====-->
<section class="port-section" id="portfolio">
    <h2 class="port-title">Portfolio</h2>

    <div class="port-container">
        <div class="port-img mg-32">
            <a href="http://maximilian-kraemer.developerakademie.com/ElPollo/index.html"target="_blank"><img src="assets/img/elpollo.png"></a>
        </div>
        <div class="port-img">
            <a href="http://maximilian-kraemer.developerakademie.com/Join/html/login-submit.html" target="_blank"><img src="assets/img/join.png"></a>
        </div>
      
    </div>

    <div class="port-container2">

        <div class="port-img mg-32">
            <a href="http://maximilian-kraemer.developerakademie.com/weatherApp/search.html" target="_blank"><img src="assets/img/weatherapp.png"></a>
        </div>
        <div class="port-img">
            <a href="http://maximilian-kraemer.developerakademie.com/Lieferando/index.html" target="_blank"><img src="assets/img/Lieferexpress.png"></a>
        </div>


    </div>

    <div class="port-container3">

        <div class="port-img mg-32">
            <a href="https://ring-of-fire-b68f7.web.app/" target="_blank"><img src="assets/img/RingOfFire.png"></a>
        </div>
        <div class="port-img">
            <a href="http://maximilian-kraemer.developerakademie.com/Quiz/quiz.html" target="_blank"><img src="assets/img/quiz.png"></a>
        </div>


    </div>
</section>