.imprint {

    height: 100vh;
    width: 100vw;
    color: white;
    padding-left: 80px;
    padding-top: 100px;
    padding-bottom: 170px;
}

@media (max-width: 800px) {
 
    .imprint {
        height: 100%;
        width: 60%;
        padding-top: 100px;
        padding-left: 35px;
    }
}
