   <!--===== HOME =====-->
   
<section class="headline-container" id="home">
    <div class="headline-title-container">
        <h1>Hi I'm Max</h1> 
        <span>I'm a <span style="color: #ff6e48">Software Developer</span> and <span style="color: #ff6e48;">Scrum Master</span></span>
    </div>
    <div id="image" class="headline-image">    
        <img src="assets/img/mePicture.png">
    </div>
    <div class="mobile-headline show-mobile"><h2>Hi, Im Max</h2></div>
</section>

<div>
    <p>I write about building profitable web applications as a developer</p>
</div>
