.headline-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    padding-top: 220px;
    padding-left: 150px;
    padding-right: 150px;
}

h1 {
  color: var(--text-color);
  text-align: center;
  font-size: 56px;
  margin-top: 10px;
  margin-bottom: 10px;
}

span {
  color: var(--text-color);
  font-size: 22px;
}

p {
  color: var(--text-color);
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.headline-contact{
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.headline-image img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fc0e49;

}

.show-mobile {

  display: none;
}

@media (max-width: 800px) {

  .headline-container{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  
  }

  .hide-mobile {

    display: none;
  }

  .headline-image img {

    height: 350px;
    width: 350px;
  }

  .headline-contact {

    display: flex;
    justify-content: center;
    
  }

  .mobile-headline {

    display: contents;
    color: white;
    font-size: 30px;
    text-align: center;
  }

  
  
  
  
}


