   <!--===== HOME =====-->
<section class="headline-container" id="home">
    <div class="headline-title-container">
        <h1>Hi I'm</h1> 
        <span class="name">Max Kraemer</span>
    </div>
    <!-- <div id="image" class="headline-image">    
        <img src="assets/img/mePicture.png">
    </div> -->
    <div class="mobile-headline show-mobile"><span>I'm a Software Developer and Scrum Master</span></div>
</section>

<div>
    <p>I write about building profitable web applications as a developer</p>
</div>
