body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #000000;
  overflow: hidden;
}

.headline-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    padding-top: 150px;
    padding-left: 150px;
    padding-right: 150px;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    
    @media screen and (max-width: 800px) {
      text-align: center;
      padding-top: 50px;
    }
}

h1 {
  color: var(--text-color);
  text-align: flex-start;
  padding-left: 10px;
  font-size: 56px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.name {
  font-size: 180px;
  font-family: sans-serif;
  background: linear-gradient(89.81deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  
  @media (max-width: 800px) {
    font-size: 80px;  
  }
}

p {
  color: var(--text-color);
  font-size: 22px;
}

p {
  color: var(--text-color);
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.headline-contact{
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.headline-image img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fc0e49;

}
.show-mobile {
  display: none;
}



