/* Global styles */
p {
  color: var(--text-color);
}

/* Skills section */
.skills-section {
  padding-top: 150px;
  @media screen and (max-width: 800px) {
    padding-top: 50px;
  }
}

.skills-section h2 {
  text-align: center;
  font-size: 45px;
  background: linear-gradient(1deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: sans-serif;
}

/* Skill container */
.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Skill items */
.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80px;
  width: 18em;
  position: relative;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 20px;
}

.skill-image img {
  height: 60px;
  width: 60px;
}

.skills-name {
  text-align: center;
}

.skills-html {
  background-color: #f06;
}

.skills-css {
  background-color: #03a9f4;
}

.skills-angular {
  background-color: #ff4081;
}

.skills-js {
  background-color: #ffd740;
}

/* Media Query for Mobile Devices */
@media (max-width: 800px) {
  .skills-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .skill {
    width: 20em;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
  }
}
