body {
  background-color: #000;
  color: #fff;
}

p {
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}
a {
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

