/* Light Mode */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Mode */
.dark-theme {
  background-color: #000000;
  color: #ffffff;
}

p {
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}
a {
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}
h3 {
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}
h1 {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
  }
h2 {
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}
h4 {
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

